services:
  mongo:
    image: mongo
    restart: always
    command: ["mongod", "--replSet", "rs0", "--bind_ip_all"]
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
  mongo-init-replica:
    image: mongo
    entrypoint: >
      bash -c "
      mongosh --host mongo:27017 --eval '
        rs.initiate({
          _id: \"rs0\",
          members: [{ _id: 0, host: \"mongo:27017\" }]
        })
      '
      "

volumes:
  mongo_data: