services:
  app:
    build: .
    container_name: movieland-app
    depends_on:
      mongo:
        condition: service_healthy
    environment:
      - MONGODB_URL=mongodb://mongo:27017/movieland
    ports:
      - "8080:8080"
  mongo:
    image: mongo:7.0
    restart: always
    command: ["mongod", "--replSet", "rs0", "--bind_ip_all"]
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: echo "try { rs.status() } catch (err) { rs.initiate({_id:'rs0',members:[{_id:0,host:'mongo:27017'}]}) }" | mongosh --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s

volumes:
  mongo_data: