name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    types:
      - opened
      - synchronize
    branches: ["main"]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '25'
          cache: gradle
      - name: Grant execute permission for Gradle Wrapper
        run: chmod +x ./gradlew
      - name: Build
        run:  ./gradlew clean build --stacktrace --info